body, h1, p, ul, table {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #505050;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #A0A0A0;
    padding: 10px;
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

main {
    flex: 2;
    padding: 20px;
}

aside {
    flex: 1;
    padding: 20px;
    background-color: #ecf0f1;
}

h2 {
    color: #505050;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;
    padding-left: 15px;
}

h2 {
    padding-left: 15px;
}

ul {
    list-style: none;
}

li {
    background-color: #A0A0A0;
    color: #fff;
    padding: 8px;
    margin-bottom: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

button {
    background-color: #A0A0A0;
    padding: 10px;
    text-align: center;
    margin-left: 15px;
}

select {
    margin-left: 15px;
}

th, td {
    border: 1px solid #505050;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #505050;
    color: #fff;
}

#chart {
    margin-left: 15px;
}

#dropdown {
    display: flex;
}

@media screen and (min-width: 500px) {

    .flex_container {
        display: flex;
        background-color: lightgray;
        justify-content: center;
        flex-wrap: wrap;
    }

}

@media screen and (max-width: 500px) {
    .flex_container {
        display: flex;
        flex-direction: column;
        background-color: lightgray;
        flex-wrap: wrap;
    }
}

.flex_item {
    display: flex;
    background-color: lightblue;
    margin: 5px;
    padding: 10px;
    justify-content: center;
}

@media screen and (max-width: 900px) {
    .flex_image {
        display: flex;
        width: 200px;
        height: 200px;
        justify-content: center;
    }
}